:root {
  /* Base Colors */
  --bg-color: #f9f9f9; /* Soft, clean white-gray background */
  --primary-color: #1e3a5f; /* Deep navy blue (modern, trustworthy) */
  --secondary-color: #e5ecf4; /* Muted sky gray-blue (card/nav backgrounds) */
  --accent-color: #f1b24a; /* Warm muted gold (for subtle highlights/buttons) */
  --text-color: #222222; /* Neutral charcoal for body text */
  --light-text: #ffffff; /* For use on dark backgrounds */

  /* Shadows */
  --shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.12);
  --shadow-strong: 0 8px 24px rgba(0, 0, 0, 0.16);

  /* Font Sizess */
  --fs-900: clamp(2.5rem, 6vw, 4rem); /* Hero title */
  --fs-800: clamp(2rem, 5vw, 3.25rem); /* Section titles */
  --fs-700: clamp(1.5rem, 4vw, 2.5rem); /* Subheadings */
  --fs-600: clamp(1.25rem, 3vw, 1.75rem); /* Card titles */
  --fs-500: 1.125rem; /* Body text */
  --fs-400: 1rem; /* Small text */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
body {
  background-color: white;
  color: var(--text-color);
}
html,
body {
  height: auto;
  max-width: 100vw;
  overflow-x: hidden;
}
section {
  padding: 2rem 0;
}
.container {
  max-width: 1290px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}
.section-title {
  background-color: var(--accent-color);
  color: var(--light-text);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: fit-content;
  display: inline-block;
  text-align: center;
  font-size: var(--fs-500);
}
.section-label {
  font-size: var(--fs-800);
  line-height: 1;
}
.navbar {
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem 2rem;
  width: 100%;
  background-color: transparent;
  transition: 0.2s ease;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.navbar.scrolled {
  position: fixed;
  background-color: var(--primary-color);
  box-shadow: var(--shadow-medium);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.off-screen-menu {
  display: none;
}
#mobile-nav {
  display: none;
}
#desktop-nav .logo img {
  height: 5rem;
  width: auto;
}
#desktop-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#desktop-nav a {
  color: var(--light-text);
  transition: 0.3s ease;
}
#desktop-nav a:hover {
  color: var(--accent-color);
}
#desktop-nav.scrolled a {
  color: var(--light-text);
}
#desktop-nav.scrolled a:hover {
  color: var(--accent-color);
}
/* ====== HERO SECTION ====== */
.overlay {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.352);
  height: 100%;
  width: 100%;
}
#home {
  position: relative;
  background-image: url("images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home .container {
  position: absolute;
  top: 40%;
  z-index: 3;
  color: var(--light-text);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home .home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.475);
}
#home .home-content div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1.2;
}
#home .home-content strong {
  font-size: var(--fs-900);
  color: var(--accent-color);
}
#home .home-content h1 {
  font-size: var(--fs-800);
}
#home .home-content p {
  font-size: var(--fs-600);
}
#home .home-content a {
  font-size: var(--fs-500);
  margin-top: 30px;
  color: var(--accent-color);
  padding: 0.5rem 5rem;
  background-color: rgba(0, 0, 0, 0.325);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}
/* ====== HERO CARDS SECTION ====== */
.why-choose-us {
  width: 100%;
  position: relative;
  z-index: 3;
}
.why-choose-us .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border-radius: 25px;
  background-color: white;
  box-shadow: var(--shadow-soft);
  margin-top: -20px;
}
.why-choose-us .why-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  text-align: justify;
}
.why-choose-us .card-left {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.why-choose-us .card-right {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
.why-choose-us i {
  font-size: var(--fs-800);
  color: var(--accent-color);
}
.why-choose-us h3 {
  font-size: var(--fs-500);
}
.why-choose-us p {
  font-size: var(--fs-400);
}
/* ====== ANOUT US SECTION ====== */
#about {
  /* margin-top: 100px;  */
  height: 100vh;
  max-height: 800px;
}
#about .container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
#about .about-left,
#about .about-right {
  width: 100%;
}
#about .about-left {
  position: relative;
}
#about .about-left .family {
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: 15px;
  width: 20rem;
  height: 20rem;
  z-index: 2;
  padding: 0.5rem;
  background-color: var(--bg-color);
  box-shadow: var(--shadow-medium);
}
#about .about-left .scenery {
  position: absolute;
  border-radius: 15px;
  width: 25rem;
  height: 15rem;
  right: -20px;
  top: 0;
}
#about .about-left .book-div {
  position: absolute;
  top: 200px;
  right: 15px;
  z-index: 3;
  width: 35%;
  box-shadow: var(--shadow-medium);
  background-color: var(--primary-color);
  color: var(--light-text);
  padding: 1rem;
  border-radius: 15px;
  line-height: 1.6;
}
#about .book-div .book-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5%;
}
#about .book-icon i {
  padding: 1rem;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: 1px solid var(--bg-color);
  transition: 0.3s ease;
}
#about .book-icon i:hover {
  background-color: var(--primary-color);
}
#about .book-icon a {
  color: var(--light-text);
  font-weight: 600;
  font-size: var(--fs-500);
}
#about .book-icon p {
  font-weight: 600;
  font-size: var(--fs-400);
}
#about .about-right {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  gap: 1.5rem;
  padding-top: 2rem;
  font-size: var(--fs-500);
}
/* ====== ABOUT US CARDS SECTION ====== */
#about .about-us-grid {
  margin-top: 100px;
}
#about .about-us-grid .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}
#about .about-us-grid .about-card {
  display: flex;
  align-items: center;
  text-align: justify;
  line-height: 1.2;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: var(--shadow-soft);
}
#about .about-us-grid .about-card i {
  font-size: var(--fs-700);
  color: var(--primary-color);
}
#about .about-us-grid .about-card h3 {
  text-shadow: 1px 1px 3px white;
  font-weight: 600;
  color: var(--accent-color);
  margin-bottom: 10px;
  font-size: var(--fs-500);
}
#about .about-us-grid .about-card p {
  font-size: var(--fs-400);
}
/* ====== AMENITIES SECTION ====== */
#amenities {
  background-color: var(--bg-color);
}
#amenities .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#amenities .section-label {
  margin-top: 20px;
  width: 50%;
}
#amenities .amenities-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
#amenities .amenity-cards {
  padding: 2rem;
  border: 1px solid #cccccc28;
}
#amenities .amenity-cards i {
  color: var(--accent-color);
  font-size: 5rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px var(--primary-color);
}
#amenities .amenity-cards p {
  font-size: var(--fs-600);
  font-weight: 600;
}
/* ====== ROOMS SECTION ====== */
#rooms {
  background-color: white;
  text-align: center;
}
#rooms .rooms-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  line-height: 1.6;
  gap: 5rem;
}
#rooms .rooms-left {
  width: 60%;
}
#rooms .rooms-right {
  width: 100%;
}
#rooms .section-label {
  margin-top: 20px;
}
#rooms .rooms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 50px;
}
#rooms .room-card {
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: var(--shadow-medium);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: flex-start;
  align-items: flex-start;
}
#rooms .room-card div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 0 0.5rem;
}
#rooms .room-card:hover {
  transform: translateY(-5px);
}
#rooms .room-card img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}
#rooms .room-card h3 {
  margin: 10px 0;
  font-size: var(--fs-500);
  color: var(--accent-color);
  padding: 0 0.5rem;
}
#rooms .room-card .room-desc {
  padding: 0 0.5rem;
}
#rooms .room-card a {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color: var(--light-text);
  border-radius: 5px;
}
/* ====== GALLERY SECTION ====== */
#gallery {
  background-color: var(--secondary-color);
  text-align: center;
}
#gallery .section-label {
  margin: 10px 0;
  color: var(--primary-color);
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.448);
}
#gallery p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}
/* Scrollable image container */
.gallery-scroll-wrapper {
  overflow-x: hidden;
  overflow-x: scroll;
  padding-bottom: 1rem;
}
.gallery-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(280px, 1fr);
  gap: 1.5rem;
}
.gallery-card {
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: var(--shadow-soft);
  overflow: hidden;
  transition: transform 0.3s ease;
}
.gallery-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 25%;
  display: block;
  transition: transform 0.4s ease;
}
.gallery-card:hover img {
  transform: scale(1.1);
}
/* === CONTACT US SECTION === */
#contact {
  max-height: 800px;
  height: auto;
  background-color: white;
  line-height: 1.6;
}
#contact .section-label {
  margin-top: 20px;
}
#contact .contact-desc {
  width: 90%;
  padding: 1rem 0;
}
#contact .container {
  height: auto;
  display: flex;
  flex-direction: row;
  color: var(--light-text);
  justify-content: center;
  align-items: start;
  text-align: justify;
}
#contact .contact_info,
#contact .contact-form {
  width: 50%;
}
#contact .contact-form {
  box-shadow: var(--shadow-strong);
}
#contact .contact_info {
  color: var(--text-color);
  gap: 0;
}
#contact .section-label {
  color: var(--primary-color);
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.448);
}
#contact .map-container {
  height: 200px;
  max-width: 90%;
  margin-top: 2rem;
  border-radius: 10px;
  overflow: hidden;
}
#contact .location-info {
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  font-size: var(--fs-500);
}
#contact .location-info div i {
  margin: 5px 0;
  color: var(--accent-color);
  font-size: var(--fs-600);
  width: 30px;
}
.contact_info ul {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
  gap: 2rem;
  font-size: var(--fs-600);
}
.contact_info ul i {
  padding: 0.5rem;
  background-color: var(--accent-color);
  border-radius: 50%;
  color: #f9fbfd;
}
/* === CONTACT FORM === */
.contact-form,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: var(--accent-color);
  border-radius: 15px;
  padding: 2rem 0rem;
  margin: auto;
}
.contact-form input {
  height: 50px;
  width: 100%;
  padding: 1rem;
  border: 1px solid #e3eaf5;
  border-radius: 5px;
  font-size: var(--fs-500);
}
.contact-form #userMESSAGE {
  margin: 1rem 0;
  height: 200px;
  width: 100%;
  padding: 1rem;
  resize: none;
  border: 1px solid #e3eaf5;
  border-radius: 5px;
  font-size: var(--fs-500);
}
.contact-form button {
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
  text-align: center;
  border-top: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
/* =============== MOBILE RESPONSIVENESS =================== */
@media (max-width: 767px) {
  /* ====== HERO SECTION ====== */
  #home .container {
    top: 30%;
  }
  #home .home-content {
    width: 100%;
    gap: 0.5rem;
  }
  /* ====== HERO CARDS SECTION ====== */
  .why-choose-us {
    margin: auto;
    padding: 1.5rem;
  }
  .why-choose-us .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: -40px;
  }
  .why-choose-us .why-card {
    gap: 0.5rem;
    border: none;
    text-align: left;
  }
  .why-choose-us i {
    margin-bottom: 10px;
  }
  /* ====== ABOUT US SECTION ====== */
  #about {
    height: auto;
    max-height: none;
  }
  #about .container {
    display: flex;
    flex-direction: column;
    gap: 15rem;
  }
  #about .about-left {
    position: relative;
  }
  #about .about-left .family {
    top: 50px;
    left: 0;
    width: 10rem;
    height: 10rem;
  }
  @media (min-width: 325px) and (max-width: 426px) {
    #about .about-left .family {
      top: 50px;
      left: 0.2rem;
      width: 12rem;
      height: 12rem;
    }
  }
  #about .about-left .scenery {
    width: 15rem;
    height: 10rem;
    right: 10px;
    top: 0;
  }
  #about .about-left .book-div {
    position: absolute;
    top: 120px;
    right: 15px;
    width: 40%;
    text-align: center;
    padding: 0.5rem;
  }
  #about .book-div .book-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  #about .book-icon i {
    padding: 1rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    border: 1px solid var(--bg-color);
  }
  #about .book-icon a {
    color: var(--light-text);
    font-weight: 600;
  }
  /* ====== ABOUT US CARDS SECTION ====== */
  #about .about-us-grid {
    margin-top: 1rem;
  }
  #about .about-us-grid .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  #about .about-us-grid .about-card {
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @media (min-width: 325px) and (max-width: 426px) {
    #about .about-us-grid .about-card {
      width: 90%;
    }
  }
  #about .about-us-grid .about-card i {
    font-size: 2.5rem;
  }
  /* ====== AMENITIES SECTION ====== */
  #amenities {
    font-size: 0.9rem;
  }
  #amenities .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #amenities .section-title {
    width: 50%;
  }
  #amenities .section-label {
    width: 100%;
  }
  @media (max-width: 320px) {
    #amenities .section-title {
      font-size: 1rem;
      width: auto;
    }
  }
  #amenities .amenities-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #amenities .amenity-cards {
    width: 95%;
    margin: auto;
  }
  /* ====== ROOMS SECTION ====== */
  #rooms .rooms-top {
    flex-wrap: wrap;
    gap: 1rem;
  }
  #rooms .rooms-left {
    width: 100%;
  }
  #rooms .room-card:hover {
    transform: translateY(-5px);
  }
  #rooms .room-card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }
  #rooms .room-card h3 {
    margin: 10px 0;
    color: var(--accent-color);
    padding: 0 0.5rem;
  }
  #rooms .room-card .room-desc {
    padding: 0 0.5rem;
  }
  /* === CONTACT US SECTION === */
  #contact {
    max-height: none;
    height: auto;
    line-height: 1.6;
  }
  #contact .contact-desc {
    width: 100%;
    padding: 1rem 0;
  }
  #contact .container {
    height: auto;
    flex-direction: column;
    gap: 2rem;
    text-align: start;
  }
  #contact .contact_info,
  #contact .contact-form {
    width: 100%;
    max-height: none;
  }
  #contact .map-container {
    margin-top: 20px;
    max-width: 100%;
  }
  #contact .location-info {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }
  .contact_info ul {
    gap: 1rem;
  }
  /* === CONTACT FORM === */
  .contact-form,
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 1rem 0rem;
    overflow: hidden;
  }
  .contact-form input {
    height: 50px;
    width: 100%;
    padding: 1rem;
    border: 1px solid #e3eaf5;
    border-radius: 5px;
  }
  .contact-form #userMESSAGE {
    margin: 1rem 0;
    height: 200px;
    width: 100%;
    padding: 1rem;
    resize: none;
    border: 1px solid #e3eaf5;
    border-radius: 5px;
  }
  .contact-form button {
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    transition: 0.3s ease-in-out;
  }
  footer {
    background-color: var(--primary-color);
    padding: 0rem 0.5rem;
    text-align: center;
    border-top: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}

/* =============== TABLET RESPONSIVENESS ===================  */
@media (min-width: 768px) and (max-width: 1024px) {
  #desktop-nav {
    display: none;
  }
  /* ====== HOME SECTION ====== */
  #home .container {
    top: 35%;
  }
  #home .home-content {
    width: 90%;
    gap: 0.5rem;
  }
  /* ====== HERO CARDS SECTION ====== */
  .why-choose-us {
    padding: 2rem;
  }
  .why-choose-us .container {
    margin-top: -50px;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }
  .why-choose-us .why-card {
    text-align: left;
    padding: 1rem;
  }
  /* ====== ABOUT US SECTION ====== */
  #about {
    height: auto;
    max-height: none;
  }
  #about .container {
    display: flex;
    flex-direction: column;
    gap: 25rem;
  }
  #about .about-left {
    position: relative;
  }
  #about .about-left .family {
    top: 80px;
    left: 20px;
    width: 20rem;
    height: 20rem;
  }
  #about .about-left .scenery {
    width: 30rem;
    height: 15rem;
    right: 20px;
    top: 0;
  }
  #about .about-left .book-div {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 28%;
    padding: 1rem;
  }
  #about .about-right {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    gap: 1rem;
  }
  #about .about-right strong {
    background-color: var(--accent-color);
    color: var(--light-text);
    padding: 0.2rem 1rem;
    border-radius: 10px;
    text-align: center;
  }
  /* ====== ABOUT US CARDS SECTION ====== */
  #about .about-us-grid {
    margin-top: 1rem;
  }
  #about .about-us-grid .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  #about .about-us-grid .about-card {
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 95%;
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @media (min-width: 325px) and (max-width: 426px) {
    #about .about-us-grid .about-card {
      width: 90%;
    }
  }
  #about .about-us-grid .about-card i {
    font-size: 2.5rem;
  }
  /* ====== AMENITIES SECTION ====== */
  #amenities .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #amenities .section-label {
    margin-top: 20px;
    width: 100%;
  }
  #amenities .amenities-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /* ====== ROOMS SECTION ====== */
  #rooms .rooms-top {
    flex-wrap: wrap;
    gap: 1rem;
  }
  #rooms .rooms-left {
    width: 100%;
  }
  /* === CONTACT US SECTION === */
  #contact {
    max-height: none;
    height: auto;
    line-height: 1.6;
  }
  #contact .contact-desc {
    width: 90%;
    padding: 1rem 0;
  }
  #contact .container {
    height: auto;
    flex-direction: column;
    gap: 2rem;
    text-align: start;
  }
  #contact .contact_info,
  #contact .contact-form {
    width: 100%;
    max-height: none;
  }
  #contact .map-container {
    margin: 20px 0;
    width: 100%;
  }
  #contact .map-container iframe {
    width: 100%;
  }
  #contact .location-info {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }
  .contact_info ul {
    gap: 1rem;
  }
  /* === CONTACT FORM === */
  .contact-form,
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 1rem 0rem;
    overflow: hidden;
  }
  .contact-form input {
    height: 50px;
    width: 100%;
    padding: 1rem;
    border: 1px solid #e3eaf5;
    border-radius: 5px;
  }
  .contact-form #userMESSAGE {
    margin: 1rem 0;
    height: 200px;
    width: 100%;
    padding: 1rem;
    resize: none;
    border: 1px solid #e3eaf5;
    border-radius: 5px;
  }
  .contact-form button {
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    transition: 0.3s ease-in-out;
  }
  footer {
    background-color: var(--primary-color);
    padding: 0rem 0.5rem;
    text-align: center;
    border-top: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}
@media (max-width: 1023px) {
  #desktop-nav {
    display: none;
  }
  .blur.active {
    position: fixed;
    z-index: 99;
    height: 100vh;
    width: 100%;
    background-color: #22222270;
    transition: 0.3s ease;
  }
  .off-screen-menu {
    position: fixed;
    right: -50%;
    z-index: 100;
    background-color: var(--accent-color);
    height: 100vh;
    width: 45%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    font-size: var(--fs-700);
    padding: 2rem 1rem;
    transition: 0.3s ease;
  }
  .off-screen-menu.active {
    right: 0;
  }
  .off-screen-menu .close-btn {
    color: var(--primary-color);
    font-size: var(--fs-900);
    margin-left: 80%;
    font-weight: 600;
  }
  .off-screen-menu ul {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 2rem;
  }
  .off-screen-menu a {
    color: var(--primary-color);
  }
  #mobile-nav {
    position: absolute;
    top: 1rem;
    z-index: 98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    width: 100%;
  }
  #mobile-nav.scrolled {
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-medium);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  #mobile-nav .logo img {
    height: 4rem;
  }
  #mobile-nav .ham-menu i {
    font-size: var(--fs-800);
    color: var(--secondary-color);
  }
  #mobile-nav.scrolled .ham-menu i {
    color: var(--light-text);
  }
}
